{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block content %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
                <th>Date</th>
                <th>NbrPlace</th>
                <th>Validation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
            <td>{{ reservation.id }}</td>
                <td>{{ reservation.Nom }}</td>
                <td>{{ reservation.Prenom}}</td>
               
                
                <td>{{ reservation.Date ? reservation.Date|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.Nbrplace }}</td>
                <td>{{ reservation.Validation ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    	<form class="w_search">
										<div class="sidebar-search">
											<div class="input-group custom-search-form">
												<input type="text" id="searchwacim" name="searchwacim" class="form-control" placeholder="Search">
											</div>
											<!-- /input-group -->
										</div>
									</form>

 <a href="{{ path('trier') }}">Trier</a>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
    <a href="{{path('PDFWacim') }}" >Imprimer</a>
{% endblock %}
 