{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block content %}
 <section class="w3ls-section contact py-5">
	<div class="container py-sm-3">
		<div class="w3ls-title">
			<h2 class="heading text-center mb-sm-5 mb-4">Add Reservation</h2>
		</div>
		

		<div class="row contact_wthreerow agileits-w3layouts">
		
			<div class="col-lg-7 col-md-6 mt-md-0 mt-5 w3l_contact_form">
				<h4>Reservation Details</h4>
				{{ form_start(p,{'attr':{'novalidate': 'novalidate'}}) }}
                        
                        {{form_widget(p.Nom,{'attr':{'placeholder' :'Nom'}})}}
                        {{form_widget(p.Prenom	,{'attr':{'placeholder' :'Prenom'}})}}
                        {{form_widget(p.Date	,{'attr':{'placeholder' :'form-control'}})}}
                        {{form_widget(p.Nbrplace,{'attr':{'placeholder' :'nombre de place'}})}}
                       
                        <div style="margin-top:5px; ">
                        {{form_widget(p.Ajouter,{'attr':{'class':'btn btn-warning'}})}}
                        {{ form_end(p) }}
                        </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
