{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
         <tr>
                <th>Nom</th>
                <td>{{ reservation.Nom  }}</td>
            </tr>
             <tr>
                <th>Prenom</th>
                <td>{{ reservation.Prenom}}</td>
            </tr>
             <tr>
                <th>Nombre de place</th>
                <td>{{ reservation.Nbrplace}}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reservation.Date ? reservation.Date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Validation</th>
                <td>{{ reservation.Validation ? 'Yes' : 'No' }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
