{% extends 'admin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block content %}

                  
                <div style="padding:20px;">
               <h5> ADD NEW CATEGORY</h5>
				{{ form_start(c,{'attr':{'novalidate': 'novalidate'}}) }}
                 <div class="form-group">
                        {{form_widget(c.Name,{'attr':{'class':'form-control '}})}}
                        </div>
					{#	{{form_widget(p.Attachement,{'attr':{'class':'form-control'}})}} #}
                        <div style="margin-top:5px; ">
                        {{form_widget(c.Ajouter,{'attr':{'class':'btn btn-primary'}})}}

                        {{ form_end(c) }}
                        </div>
			</div>
                </div>
{% endblock %}
