{% extends 'base.html.twig' %}

{% block title %}New Evaluation{% endblock %}

{% block content %}
 <section class="w3ls-section contact py-5">
	<div class="container py-sm-3">
		<div class="w3ls-title">
			<h2 class="heading text-center mb-sm-5 mb-4">Ajouter une nouvelle Evaluation</h2>
		</div>
		<div class="w3ls_map">
			
		</div>

		<div class="row contact_wthreerow agileits-w3layouts">
		
			<div class="col-lg-7 col-md-6 mt-md-0 mt-5 w3l_contact_form">
				
				{{ form_start(e,{'attr':{'novalidate': 'novalidate'}}) }}
				<div style="margin-top:100px; ">
                        
                        {{form_widget(e.Notice,{'attr':{'placeholder' :'Notice'},'label':'Notice'})}}
						<div style="margin-top:100px; ">
                        {{form_row(e.Comment,{'attr':{'placeholder' :'Comment'},'label':'Comment'})}}
                        
                        
                        <div style="margin-top:5px; ">
                        {{form_widget(e.Ajouter,{'attr':{'class':'btn btn-warning'}})}}
                        {{ form_end(e) }}
                        </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
