{% extends 'base.html.twig' %}

{% block title %}New Place
{% endblock %}

{% block content %}
	<section class="w3ls-section contact py-5">
		<div class="container py-sm-3">
			<div class="w3ls-title">
				<h2 class="heading text-center mb-sm-5 mb-4">Add new Place</h2>
			</div>

			<div class="row contact_wthreerow agileits-w3layouts">

				<div class="col-lg-7 col-md-6 mt-md-0 mt-5 w3l_contact_form">
					<h4>Place Details</h4>
					{{ form_start(p,{'attr':{'novalidate': 'novalidate'}}) }}
					{{form_widget(p.Name,{'attr':{'placeholder' :'Place Name'}})}}
					{{ form_errors(p.Name) }}
					{{form_widget(p.Description,{'attr':{'placeholder' :'Description'}})}}
					{{form_widget(p.Adress,{'attr':{'placeholder' :'Adress'}})}}
					{{form_widget(p.City,{'attr':{'placeholder' :'City'}})}}
					{{form_widget(p.PostalCode,{'attr':{'placeholder' :'Postal Code'}})}}
					{{form_widget(p.Latitude,{'attr':{'placeholder' :'Latitude'}})}}
					{{form_widget(p.Longitude,{'attr':{'placeholder' :'Longitude'}})}}

					{{form_widget(p.Type,{'attr':{'class':'form-control'}})}}
					{{form_widget(p.Category,{'attr':{'class':'form-control'}})}}
					{{form_widget(p.Attachement,{'attr':{'class':'form-control'}})}}
					<div style="margin-top:5px; ">
						{{form_widget(p.Ajouter,{'attr':{'class':'btn btn-warning'}})}}
						{{ form_end(p) }}
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
		<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>


		<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
		<script src="{{ asset('vendorss/fontawesome/all.min.js')}}"></script>
		<script src="{{ asset('assetss/js/theme.js')}}"></script>
	</section>
	<script>
		var pl = {{ placejson|json_encode|raw }};
const place = JSON.parse(pl);
console.log(place.Adress);
$.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + place.Adress, function (data) {
{ p.setLatitude(data[0].lat) }
{p.setLongitude(data[0].lat)}
});
	</script>
{% endblock %}
