{% extends 'base.html.twig' %}

{% block title %}Programme index{% endblock %}

{% block content %}
    <section class="featured_services py-5">
		<h3 class="heading text-center mb-5">programs list</h3>
		<a href="{{path('trier') }}" class="btn btn-primary text-white me-0">
											
											Trier</a>
	
 				
                    <a class="btn btn-success" href="{{path('PDF_programme') }}">  PDF </a>
                    <script type="text/javascript">
                        function imprimer_page(){
                            window.print();
                        }
                    </script>
                
				<div>
			<table>
				<thead>
				<tr>
			    <th>Name</th>
				<th>Prix</th>
				 <th>Description</th>
			     	<th>actions</th> 
					</tr>
					</thead>
					<tbody>
						{% for i in programmes %}
																			
						<tr>





						
												<tbody id="tableac">
									    <td>{{ i.Name }}</td>
        		                        <td>{{ i.Prix }}</td>
	    		                        <td>{{ i.Description }}</td>
				 <td>
                    <a href="{{ path('app_programme_show', {'id': i.id}) }}">show</a>
                    
                </td>	
																					
																						
																						
						</tbody>
						</tr>
						
						
																			
						{% endfor %}
						



						</tbody>
																				<form class="w_search">
										<div class="sidebar-search">
											<div class="input-group custom-search-form">
												<input type="text" id="searchyoussef" name="searchyoussef" class="form-control" placeholder="Search">
											</div>
											<!-- /input-group -->
										</div>
									</form>
									</table>
			</div>
		</div>
	</section>
    <a href="{{ path('app_programme_new') }}">Create new</a>

{% endblock %}
